extends layout

block content
		h1 Willkommen beim #{title}.
		form(method='POST', action='/add') 
			#form-group
				label Title:
				input.form-control(name='title', type='text')
			#form-group
				label Ort:
				input.form-control(name='ort', type='text')
			#form-group
				label Message:
				textarea.form-control(name='message')
			br
			input.btn.btn-primary(type='submit',value='Abschicken')
			
		
