doctype html
html
  head
    title #{title}
  body
    nav.navbar
      div.home    
        a.navbar-brand(href='/') Marabuamt
      div.nav-item.active
        a.nav-link(href='/')| Home 
      div.nav-item
        a.nav-link(href='/posts/add') Add Entry

.container
  !=  messages('message', locals)
  if errors
    each error, i in errors
      div(class="alert alert-danger") #{error.msg}

  block content
  br
  hl
  hl
  footer
    p Copyright &copy; 2018

script(src='/js/main.js')
